@use "sass:map";
@use "src/styles/mixins/media-query" as media-mixins;
@use "src/styles/colors/variables" as colors;

:host {
  display: inline-block;
}

.link {
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 5px;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 8px;
    left: 0;
    background-color: map-get(colors.$light-accent, default);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  &:hover {
    opacity: 0.7;
    background-color: map-get(colors.$light-accent, light);
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }
}

.active {
  transform: scaleX(1);
  background-color: map-get(colors.$light-accent, light);

  &::after {
    // height: 1.5px;
    transform: scaleX(1);
    transform-origin: center;
  }
}
