<div mat-body-strong>
  Kinopoisk:
  <span ratingColor [rating]="titleData.ratingKinopoisk">
    {{ titleData.ratingKinopoisk }}
  </span>
  <span> / {{ titleData.ratingKinopoiskVoteCount | number : "1.0-0" }} </span>
</div>
<ng-container *ngIf="extended">
  <div mat-body-strong>
    GoodReview:
    <span ratingColor [rating]="titleData.ratingGoodReview">
      {{ titleData.ratingGoodReview }}
    </span>
    <span>
      / {{ titleData.ratingGoodReviewVoteCount | number : "1.0-0" }}
    </span>
  </div>
  <div mat-body-strong>
    IMDB:
    <span ratingColor [rating]="titleData.ratingImdb">
      {{ titleData.ratingImdb }}
    </span>
    <span> / {{ titleData.ratingImdbVoteCount | number : "1.0-0" }} </span>
  </div>
  <div mat-body-strong>
    FilmCritics:
    <span ratingColor [rating]="titleData.ratingFilmCritics">
      {{ titleData.ratingFilmCritics }}
    </span>
    <span>
      / {{ titleData.ratingFilmCriticsVoteCount | number : "1.0-0" }}
    </span>
  </div>
</ng-container>
<!-- 
ratingGoodReview
ratingGoodReviewVoteCount
ratingKinopoisk
ratingKinopoiskVoteCount
ratingImdb
ratingImdbVoteCount
ratingFilmCritics
ratingFilmCriticsVoteCount
-->
