<span>
  Kinopoisk:
  <span ratingColor [rating]="titleData.ratingKinopoisk">
    {{ titleData.ratingKinopoisk }}
  </span>
</span>
<ng-container *ngIf="extended">
  <span>
    GoodReview:
    <span ratingColor [rating]="titleData.ratingGoodReview">
      {{ titleData.ratingGoodReview }}
    </span>
  </span>
  <span>
    IMDB:
    <span ratingColor [rating]="titleData.ratingImdb">
      {{ titleData.ratingImdb }}
    </span>
  </span>
  <span>
    FilmCritics:
    <span ratingColor [rating]="titleData.ratingFilmCritics">
      {{ titleData.ratingFilmCritics }}
    </span>
  </span>
</ng-container>
<!-- 
ratingGoodReview
ratingGoodReviewVoteCount
ratingKinopoisk
ratingKinopoiskVoteCount
ratingImdb
ratingImdbVoteCount
ratingFilmCritics
ratingFilmCriticsVoteCount
-->
