.category-container {
  display: grid;
  justify-items: stretch;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}

button {
  margin: 0 auto;
  display: block;
}
