<app-header class="header" [platformType$]="platformType">
  <app-search-bar
    *ngIf="(platformType | async) !== breakpoints.Handset"
  ></app-search-bar>
</app-header>
<ng-container
  *ngTemplateOutlet="MainTemplate; context: { $implicit: platformType }"
>
</ng-container>
<footer class="footer"></footer>

<ng-template #MainTemplate let-platformType>
  <main>
    <ng-content #routes></ng-content>
    <app-dynamic-island
      class="dynamic-island"
      *ngIf="(platformType | async) === breakpoints.Handset"
    ></app-dynamic-island>
  </main>
</ng-template>
