// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./themes/light";
@use "./themes/dark";
@use "./colors/variables.scss" as colors;
@use "./mixins/media-query" as media-mixins;
@use "sass:map";

@import "@glidejs/glide/src/assets/sass/glide.core";
@import "@glidejs/glide/src/assets/sass/glide.theme";

@include mat.core();

@include mat.core-theme(light.$light-theme);

@include mat.all-component-themes(light.$light-theme);

.dark-theme {
  @include mat.core-color(dark.$dark-theme);
  @include mat.all-component-colors(dark.$dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Solway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

* {
  // transition: 0.5 color ease-out;
}
.keen-slider__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}

.loader-content {
  margin: auto;
  font-size: 32px;
}

.w-50 {
  width: 50vw !important;
}