// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./themes/light";
@use "./themes/dark";
@use "./colors/variables.scss" as colors;
@use "./typography/config" as typography;
@use "./mixins/media-query" as media-mixins;

@include mat.core(typography.$custom-typography);

@include mat.core-theme(light.$light-theme);

@include mat.all-component-themes(light.$light-theme);

.dark-theme {
  @include mat.core-color(dark.$dark-theme);
  @include mat.all-component-themes(dark.$dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Solway", serif;
}

* {
  box-sizing: border-box;
}
