:host {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 5px;
}

.limitTextHeight {
  // height: 50px;
  // overflow: hidden;
}

.caption {
  color: rgb(163, 163, 163);
  cursor: pointer;
  
  &:hover {
    color: rgb(241, 241, 241);
  }
}

.info {
  font-size: 20px;
}

.title-preview__description {
  width: 80%;
}

.title-preview__action {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}

::ng-deep .title-preview__action > button {
  min-width: 120px;
  max-width: 220px;
  width: 45%;
}
