@use "sass:map";
@use "../../../../styles/mixins/media-query" as media-mixins;
@use "../../../../styles/colors/variables" as colors;

:host {
  display: inline-block;
}

.link {
  // text-decoration: none;
  // color: none;
  // cursor: pointer;
  // display: inline-block;
  // color: map-get(colors.$light-primary, default);
  // padding: 10px;
  // font-size: 14px;
  // margin: 5px 5px;

  &:hover {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
  }
}

.active {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}
