<div class="block-container preview">
  <shared-title-preview-cover
    [titleData]="titleData$ | async"
    [externalContent]="externalContent"
  >
  </shared-title-preview-cover>
</div>
<div class="block-container">
  <app-link
    class="category-title"
    [link]="{
      path: '/category/' + tops.TOP_250_BEST_FILMS,
      name: 'Top 250 movies'
    }"
  ></app-link>
  <div class="category-container" *ngIf="topBestFilms$ | async as topBestFilms">
    <shared-carousel
      [slideView]="categoriesSlides"
      [slideData]="topBestFilms.films"
    >
    </shared-carousel>
  </div>
</div>

<ng-template #externalContent let-title>
  <shared-title-preview-content [titleData]="title">
    <shared-rating-view
      [titleData]="title"
      rating
      [extended]="false"
    ></shared-rating-view>
    <button
      action
      mat-flat-button
      (click)="openTitleDetails(title.kinopoiskId)"
      color="primary"
    >
      Подробнее
    </button>
  </shared-title-preview-content>
</ng-template>

<ng-template #categoriesSlides let-slideData>
  <ng-container *ngFor="let item of slideData">
    <shared-title-poster
      [categoryItem]="item"
      class="custom-element"
      (click)="openTitleDetails(item.filmId)"
    ></shared-title-poster>
  </ng-container>
</ng-template>
