@use "src/styles/mixins/media-query" as media-mixins;
@use "src/styles/colors/variables" as colors;
@use "sass:map";

$shadow-color: map-get(
  $map: colors.$light-primary,
  $key: default,
);

$transition: all 0.25s ease-in-out 0.1s;
.block-container {
  .category-title {
    font-size: 28px;
    margin-left: 20px;
  }
  .category-container {
    
  }
}
