<div class="block-container">
  <shared-title-preview-poster
    [titleData]="titleData$"
  ></shared-title-preview-poster>
</div>
<div class="block-container">
  <app-link
    class="category-title"
    [link]="{ path: '/#category', name: 'Top 250 movies' }"
  ></app-link>
  <div class="category-container">
    <app-shared-carousel
      (lastSlideEvent)="loadMoreSlides()"
      [slidesPerView]="[1, 3, 7]"
    >
      <ng-container *ngFor="let item of topMovies">
        <app-item-poster
          [categoryItem]="item"
          class="keen-slider__slide custom-element"
          data-keen-slider-clickable="true"
          (click)="onClick(item.filmId)"
        ></app-item-poster>
      </ng-container>
    </app-shared-carousel>
  </div>
</div>
<!-- <div class="category-container">
    <h2>Top Await Movies</h2>
    <app-shared-carousel [slidesPerView]="[1, 5, 7]">
      <ng-container *ngFor="let item of topAwaitMovies$ | async">
        <app-item-poster
          [categoryItem]="item"
          class="keen-slider__slide custom-element"
          data-keen-slider-clickable="true"
          (click)="onClick(item.filmId)"
        ></app-item-poster>
      </ng-container>
    </app-shared-carousel>
  </div>
  <div class="category-container">
    <h2>Top 100 Movies</h2>
    <app-shared-carousel [slidesPerView]="[1, 5, 7]">
      <ng-container *ngFor="let item of topOneThousandMovies$ | async">
        <app-item-poster
          [categoryItem]="item"
          class="keen-slider__slide custom-element"
          data-keen-slider-clickable="true"
          (click)="onClick(item.filmId)"
        ></app-item-poster>
      </ng-container>
    </app-shared-carousel>
  </div> -->
