<div class="search-form">
  <div class="select_area">
    <!-- <ng-container *ngIf="withSelector; else spacer">
      <button class="select_input-btn" mat-button [matMenuTriggerFor]="menu">
        {{ selected || "Выбери что нужно найти" }}
        <i class="fa-solid fa-angles-down"></i>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let option of TV_TYPES | keyvalue">
          <button mat-menu-item (click)="onSelect(option.key)">
            {{ option.value }}
          </button>
        </ng-container>
      </mat-menu>
    </ng-container> -->
    <i class="fa-solid fa-film"></i>
    <span>Искать везде</span>
  </div>

  <div class="line"></div>

  <div class="search_input-and-btn">
    <input
      #searchBox
      (input)="doSearch()"
      (keyup)="doSearch()"
      (focus)="doFocus()"
      (blur)="onBlur()"
      class="form-control"
      placeholder="Найти фильм или сериал .."
    />
    <span class="search_btn">
      <button [disabled]="!isOnFocus" mat-icon-button (click)="doSearch()">
        <i class="fas fa-search"></i>
      </button>
    </span>
  </div>
</div>
