<ng-container *ngIf="titleData$ | async as titleData">
  <section class="title-details__wrapper">
    <shared-title-preview-cover
      class="title-details__cover-overlay"
      [typeOfPage]="'modal'"
      [titleData]="titleData"
    >
    </shared-title-preview-cover>
    <div class="title-details__content-container">
      <div class="title-details__content-top">
        <shared-title-preview-content
          [fullDescription]="true"
          [titleData]="titleData"
        >
          <ng-container action>
            <button mat-flat-button (click)="onClick()">
              <i class="fa-solid fa-play"></i>
              Смотреть
            </button>
            <shared-button iconDefinition="fa-regular fa-plus"></shared-button>
            <shared-button
              iconDefinition="fa-regular fa-thumbs-up"
            ></shared-button>
            <shared-button
              iconDefinition="fa-regular fa-file-lines"
            ></shared-button>
          </ng-container>
        </shared-title-preview-content>
        <shared-rating-view
          class="rating-view"
          [titleData]="titleData"
          [extended]="true"
        ></shared-rating-view>
      </div>
    </div>
  </section>
</ng-container>
