<!-- <owl-carousel-o
  [options]="carouselOptions"
  #owlCar
  (translated)="getPassedData($event)"
>
  <ng-container *ngFor="let item of categoryItems | async">
    <ng-template carouselSlide [id]="item.id">
      <category-item
        [owlRouterLink]="['/title', item.id]"
        [categoryItem]="item"
      ></category-item>
    </ng-template>
  </ng-container>
</owl-carousel-o>
<ng-container *ngIf="breakPoints.Handset !== (platformType | async)">
  <span class="left" *ngIf="isFirstSlide">
    <button class="button owl-prev" (click)="owlCar.prev()">
      <fa-icon class="fa-icon" [icon]="faArrowLeft"></fa-icon>
    </button>
  </span>
  <span class="right">
    <button class="button owl-next" (click)="owlCar.next()">
      <fa-icon class="fa-icon" [icon]="faArrowRight"></fa-icon>
    </button>
  </span>
</ng-container> -->
