<form [formGroup]="form" class="search-panel_container">
  <search-panel formControlName="searchInput">
    <button
      mat-icon-button
      (click)="startSearch(form.get('searchInput').value?.search, 1)"
    >
      <i class="fas fa-search"></i>
    </button>
  </search-panel>
</form>
<div>
  <ng-container *ngIf="searchedResult$ | async as result">
    <ng-container *ngFor="let media of result">
      <media-card [mediaResult]="media"> </media-card>
    </ng-container>
  </ng-container>
</div>
