<div sticky @toggleStickyAnimation class="search-panel_container">
  <search-panel (onSearch)="initSearch($event, 1)"> </search-panel>
</div>
<div
  infiniteScroll
  [infiniteScrollDistance]="0.1"
  [infiniteScrollThrottle]="50"
  (scrolled)="nextPage()"
  class="search-container"
  [@fadeSlideInOut]
>
  <media-card
    *ngFor="let media of searchedResult$ | async"
    (toMediaDetails)="openTitleDetails($event.id)"
    [mediaResult]="media"
  >
  </media-card>
</div>
<ng-container *ngIf="isLoading$ | async">
  <div class="loader-content">
    <i class="fa-solid fa-ellipsis fa-beat fa-2xl loader-pulse"></i>
  </div>
</ng-container>
