@use "sass:map";
@use "src/styles/mixins/media-query" as media-mixins;
@use "src/styles/colors/variables" as colors;

:host {
  display: flex;
  backdrop-filter: blur(10px);
}

mat-toolbar {
  justify-content: space-between;
  min-height: 62px;
}

.mat-toolbar-single-row {
  height: auto;
}

.header__navigation-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 15px;
}

.header__left-container, .header__right-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 35px;
}