@use "src/styles/mixins/media-query" as media-mixins;
@use "src/styles/colors/variables" as colors;
@use "sass:map";

$shadow-color: map-get(
  $map: colors.$light-primary,
  $key: default,
);

.media-card__background-poster {
  transition: filter 0.25s ease-in-out;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100%;
}

.media-card__content {
  transition: all 0.25s ease-in-out;
  color: white;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 100%;
}

:host {
  &:hover,
  &:active,
  &:focus {
    filter: drop-shadow(2px 0px 6px $shadow-color);
    transform: scale(1.2);

    .media-card__content {
      backdrop-filter: brightness(0.4);
    }
  }
}
