<ng-container *ngIf="titleData as title">
  <ng-container [ngSwitch]="typeOfPage">
    <ng-container *ngSwitchCase="'modal'">
      <ng-container
        *ngTemplateOutlet="
          withoutGradient;
          context: { $implicit: title, externalContent: externalContent }
        "
      ></ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <ng-container
        *ngTemplateOutlet="
          withGradient;
          context: { $implicit: title, externalContent: externalContent }
        "
      ></ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #withGradient let-title>
  <div
    class="title-preview__container"
    [ngStyle]="{
      background:
        'linear-gradient(to right, rgb(20, 20, 20, 0.8) 30%, transparent 70%) 0% 0% / cover, linear-gradient(to right, rgb(40, 40, 40, 0.9) 1%, transparent 99%), 100% 30% / cover url(' +
        title.coverUrl +
        ') no-repeat'
    }"
  >
    <div class="title-preview__content">
      <ng-container
        *ngTemplateOutlet="externalContent; context: { $implicit: title }"
      ></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #withoutGradient let-title>
  <div
    class="title-preview__container"
    [ngStyle]="{
      background: '100% 30% / cover url(' + title.coverUrl + ') no-repeat'
    }"
  >
    <div class="title-preview__content">
      <ng-container
        *ngTemplateOutlet="externalContent; context: { $implicit: title }"
      ></ng-container>
    </div>
  </div>
</ng-template>
