:host {
  display: block;
  width: 100%;
  height: calc(100vh - 7vh);
  color: white;
}

.title-preview__container{
  height: 100%;
  padding: 100px 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.modal {
  padding: 25px
}