:host {
    position: relative;

    &:hover {
        .arrow {
            opacity: 1;
        }
    }
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 55px;
    height: 100%;
    cursor: pointer;
    color: rgb(199, 199, 199);
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.15s ease-in-out;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: rgb(255, 255, 255);
    }
}

.arrow--left {
  left: 0px;
}

.arrow--right {
  left: auto;
  right: 0px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}