::ng-deep .owl-carousel { 
    .owl-item {
        padding: 10px;
        aspect-ratio: 1/1.5;
    }
}

category-item {
    transform-origin: center;
    position: relative;
}
:host {
    position: relative;
    &:hover {
        .button {
            opacity: 1;
        }
    }
}

.button {
    width: 3.5vw;
    height: 100%;
    cursor: pointer;
    color: rgb(199, 199, 199);
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.15s ease-in-out;
    border: none;

    &:hover {
        color: rgb(255, 255, 255);
    }
    .fa-icon {
        // font-size: 2rem;
    }
}
.left, .right {
    position: absolute;
    height: 100%; // Исправить
    z-index: 2;
    top: 0;
        bottom: 0;
}

.right {
    right: 0;
}